body{
    margin: 0;
    padding: 0;
}
.chart-count{
    position: fixed;
    left: 200px;
    top: 0;
    right: 0;
    bottom: 50%;
    height: 45%;
}
.chart-timecost{
    position: fixed;
    left: 200px;
    top: 55%;
    right: 0;
    bottom: 0;
    height: 45%;
}